.home {
  background-color: #121212;
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.droplet {
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: radial-gradient(circle, #5a5e5f 50%, transparent 80%);
  animation: falling-droplet 15s linear infinite;
  opacity: 0.9;
}

@keyframes falling-droplet {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.motivation-box {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

.motivation-box p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.container {
  text-align: center;
}

.display-6 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 24px;
  font-weight: 400;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.link a {
  color: #ffffff;
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.link a:hover {
  color: #2836ff;
}

.link a.bl:hover {
  color: #3a2b2b; /* GitHub icon color on hover */
}

.link a.c:hover {
  color: #00acee; /* Twitter icon color on hover */
}

.link a.r:hover {
  color: #e4405f; /* Instagram and YouTube icon color on hover */
}


.hero {
  position: relative;
}

.hire-me-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.hire-me-container.show {
  transform: scale(1);
}

.hire-me-link {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hire-me-link:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 36px;
  }
  .hero-subtitle {
    font-size: 20px;
  }
  .link {
    margin-top: 20px;
  }
}
